:root {
  --black: #3e3d3d;
  --yellow: #fecf28;
}
.container-portfolio {
  margin-top: 150px;
}

.box-introduce-portfolio {
  background-color: #f1f1f1;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 50px;
}

.content-portfolio {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-text {
  width: 120px;
}

.box-text h3::after {
  content: '';
  display: block;
  margin-top: -10px;
  border-bottom: 8px solid var(--yellow);
}
.box-text-logo {
  width: 180px;
}
.box-text-logo h3::after {
  content: '';
  display: block;
  margin-top: -10px;
  border-bottom: 8px solid var(--yellow);
}
.box-text-vector {
  width: 200px;
}
.box-text-vector h3::after {
  content: '';
  display: block;
  margin-top: -10px;
  border-bottom: 8px solid var(--yellow);
}
.box-details {
  border: 2px solid #c4c4c47e;
  border-radius: 8px;
  padding: 0;
  transition: 0.2s;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.137);
  transform: scale(0.99);
}
.box-details:hover {
  transform: scale(1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.box-details img {
  cursor: pointer;
}
.box-details img:hover {
  opacity: 0.8;
}

.box-details h4 {
  cursor: pointer;
}

.category {
  display: flex;
}

.category-1,
.category-2 {
  background-color: #f1f1f1;
  color: var(--black);
  border-radius: 5px;
  padding: 3px;
  box-sizing: border-box;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.137);
}

.btn-box {
  border-radius: 5px;
  background-color: var(--yellow);
  color: var(--black);
  font-weight: 500;
  transition: 0.2s;
}
.btn-box:hover {
  border: 1px solid var(--yellow);
  background-color: transparent;
  color: var(--yellow);
}

/* Slick Start */
.slick img {
  width: 100%;
}
.slide img {
  width: 20 rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #fecf28;
}

.next {
  right: 0;
  top: 50%;
}
.prev {
  left: 0;
  top: 50%;
}

.fa-angle-left.slide-slick-portfolio,
.fa-angle-right.slide-slick-portfolio {
  background-color: #ffe071;

  color: #ffffff;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100px;
}
.fa-angle-left.slide-slick-portfolio:hover,
.fa-angle-right.slide-slick-portfolio:hover {
  background-color: #fed028;
}
