/* Dark Mode */

/* Start Homepage */
body.darkmode {
  background-color: #3e3d3d;
}
body.darkmode nav {
  backdrop-filter: blur(10px) !important;
  height: 62px;
}
body.darkmode p,
body.darkmode .p,
body.darkmode h1,
body.darkmode h2,
body.darkmode h3,
body.darkmode h4 {
  color: white !important;
}

body.darkmode .link ul li p::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: white;
  transition: width 0.4s;
}

body.darkmode .link ul li p:hover::after {
  width: 65%;
  transition: width 0.4s;
}
body.darkmode nav .hamburger-menu {
  color: white;
}
body.darkmode .box-equipment i {
  color: white !important;
}

body.darkmode .box-text h3::after {
  content: '';
  display: block;
  margin-top: -10px;
  border-bottom: 8px solid #666666 !important;
}
body.darkmode .box-text-logo h3::after {
  content: '';
  display: block;
  margin-top: -10px;
  border-bottom: 8px solid #666666 !important;
}
body.darkmode .box-text-vector h3::after {
  content: '';
  display: block;
  margin-top: -10px;
  border-bottom: 8px solid #666666 !important;
}

body.darkmode .btn,
body.darkmode button,
body.darkmode button.btn {
  background-color: #666666 !important;
  color: white !important;
}

body.darkmode .social-media i {
  color: white !important;
  border: 2px solid white !important;
}

body.darkmode button i {
  color: #fecf28 !important;
}

body.darkmode .ilustrator .jumbotron {
  background-image: url('../img/bgdarkmode.svg');
  border-radius: 10px;
}

body.darkmode strong {
  color: #cccccc;
}
body.darkmode header {
  background-color: #666666;
}

body.darkmode .information .box {
  background-color: #666666 !important;
}

/* End Homepage */

/* About Start */

body.darkmode .equipment .box-equipment .logo-vscode::before {
  content: '';
  background: url('../img/logo/dmvscode.svg');
  display: block;
  background-size: 30px;
  width: 30px;
  height: 30px;
  float: left;
  margin-bottom: 10px;
}
body.darkmode .equipment .box-equipment .logo-ai::before {
  content: '';
  background: url('../img/logo/ai-dm.svg');
  display: block;
  background-size: 30px;
  width: 30px;
  height: 30px;
  float: left;
  margin-bottom: 10px;
}

body.darkmode .page-about .jumbotron {
  background-color: #666666;
}

body.darkmode .box-experience,
body.darkmode .box,
body.darkmode .box-equipment {
  background-color: #666666;
}

body.darkmode .p-box-text-about h3::after,
body.darkmode .p-box-text-experience h3::after,
body.darkmode .p-box-text-equipment h3::after {
  content: '';
  display: block;
  margin-top: -10px;
  border-bottom: 8px solid #666666 !important;
}
/* About End */

body.darkmode .mobile-menu {
  background-color: #3e3d3d;
}

body.darkmode .content-row .row .btn-deploy:hover {
  background-color: #868686 !important;
  border: 2px solid #fed02800;
  font-weight: 500;
  color: var(--yellow);
}
body.darkmode .ilustrator.jumbotron .btn-ilustrator {
  font-weight: 500;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.151);
  transition: 0.2s;
  background-color: #666666 !important;
  border: 2px solid #666666;
}
body.darkmode .ilustrator.jumbotron .btn-ilustrator:hover {
  font-weight: 500;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.151);
  background-color: #808080 !important;
  border: 2px solid #808080;
}

body.darkmode .dark-mode .fa-sun:hover {
  color: #fecf28;
}

body.darkmode .ilustrator.jumbotron {
  background-image: url('../img/dmIlustrator.svg');
  background-size: cover;
  height: 600px;
  margin-bottom: 50px;
  width: 100%;
}

body.darkmode .box-introduce-portfolio {
  background-color: #666666;
}

body.darkmode footer .social-media-footer i {
  font-size: 28px;
  border: 2px solid white;
  padding: 6px;
  color: white;
  margin: 0 3px 0 3px;
  border-radius: 50px;
  transition: 0.2s;
}
body.darkmode footer .social-media-footer i:hover {
  border: 2px solid white;
  color: #3e3d3d;
  background-color: white;
}

body.darkmode i.fas.fa-moon,
body.darkmode i.fas.fa-sun {
  color: white;
}

body.darkmode .vector-header.img-fluid {
  background-image: url('../img/Vector (2).svg');
  background-size: cover;
  width: 100%;
  height: 100px;
}

body.darkmode nav .logo ul li {
  color: white;
}

body.darkmode nav .logo .logo-navbar {
  width: 25px;
  height: 25px;
  background-image: url('../img/logo.svg');
  background-size: cover;
}
body.darkmode .box-portfolio .btn-preview-img {
  border: 2px solid white;
  color: white;
}

body.darkmode .box-portfolio .btn-preview-img:hover {
  border: 2px solid white;
  background-color: white !important;
  color: var(--black) !important;
}

body.darkmode .arrow {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  cursor: pointer;
  color: white;
  z-index: 10;
}

body.darkmode .social-media-contact i {
  color: white;
  border: 2px solid white;
  transition: 0.2s;
}
body.darkmode .social-media-contact i:hover {
  color: #3e3d3d;
  background-color: white;
  border: 2px solid white;
}

body.darkmode .container-contact .email,
body.darkmode .container-contact .email span {
  color: white;
}
body.darkmode .container-contact .email:hover,
body.darkmode .container-contact .email:hover span {
  color: #be9d26;
}
